i {
    font-family: "FontAwesome";
}

h1{
    font-family: 'Architects Daughter', cursive;
}

h2{
    font-family: 'Courgette';
    font-size: 30px;
}


/* font-family: 'Architects Daughter', cursive;
font-family: 'Courgette', cursive;
font-family: 'Poppins', sans-serif; */