
/*FUENTE ESPECIAL PARA EL LOGO-TITULO*/
.logo{
    font-family: 'Architects Daughter', cursive;
}

/*COLOR EXTRA NECESARIO PARA LAS ESTRELLAS*/
.stars{
    color: yellow;
}


/*
HE AGREGADO LA FUENTE COURGUETTE PARA LOS HEADER PERO TAMBIEN LA QUIERO AQUI EN EL PRECIO
Y ABAJO EN EL H5 PREFIERO LA POPPINS QUE ME PARECE MEJOR EN ESTILO PARA ESTE CASO.
*/
.precio {
    font-family: 'Courgette';
    font-size: 30px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

/*NO HE PODIDO PONER BORDER DASHED, CREO QUE NO TIENE ESA OPCION BOOTSTRAP*/
.oferta{
    border: 6px dashed #03A9F4;
}

.tarjeta{
    border: 4px dashed;
}