/* i {
    font-family: "FontAwesome";
} */

h1, .logo{
    font-family: 'Architects Daughter', cursive;
}

h2{
    font-family: 'Courgette';
    font-size: 30px;
}

.stars{
    color: yellow;
}

.precio {
    font-family: 'Courgette';
    font-size: 30px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.oferta{
    border: 6px dashed #03A9F4;
}

.tarjeta{
    border: 4px dashed;
}

/* font-family: 'Architects Daughter', cursive;
font-family: 'Courgette', cursive;
font-family: 'Poppins', sans-serif; */

